cateringservicesdemo/src/main/app/getLoyaltyDiscount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="localhost" port="1521" instance="xe" user="system" password="admin" doc:name="Oracle Configuration"/>
    <http:request-config name="HTTP_Request_Configuration_Internal" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="hsc-pg00azms" port="3306" user="soham" password="soham" database="cateringservices" doc:name="MySQL Configuration"/>
    <flow name="getRulesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getLoyaltyDiscounts" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="userId" value="#[message.inboundProperties.'http.query.params'.userId]" doc:name="Variable"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT sum(itemPoints) as loyaltyPoints FROM cateringservices.orderitems 
 where userId=#[flowVars.userId] and 
orderDate >(DATE_SUB( DATE_FORMAT( CURDATE(),'%Y-%m-%d'),INTERVAL 60 DAY));]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="3ae9c3c0-568c-4b8c-8b3a-2afe0ed06541">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	userId: flowVars.userId as :string,
	loyaltyPoints: (payload.loyaltyPoints[0] default "0" )as :string
}]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration_Internal" path="/displayLoyaltyDiscounts" method="POST" doc:name="HTTP"/>
    </flow>
</mule>
